@font-face {
    font-family: "Headliner No. 45";
    src: url("/style/fonts/HeadlinerNo45-59y8.ttf");
}

.exampleCard:hover{
    cursor: pointer;
    z-index: 1;
}

.exampleCard {
    height: 100%;

    margin: 0 3px;

    font-family: "Headliner No. 45";

    background-size: 100% 100%;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    container-type: inline-size;

    transition: all 0.6s;
    background-color: red;

    position: relative;
}

.exampleCard::before{
    content: "";
    position: absolute;

    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    transition: all 0.3s;
}

.exampleCard:hover::before{

    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

.exampleCard::after{
    content: var(--card-text);
    font-size: 0;
    color: rgb(200, 200, 200);
    
    transition: color 0.125s;
    z-index: 1;
}

.exampleCard:hover::after{
    color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
}
