.examplesColumn{
  -webkit-user-select: none;
  user-select: none;

  width: calc(100% - 60px);
  height: 100vh; /* Ensure column takes full viewport height */
  background-color: black;
  overflow: hidden;
  position: relative;
        
}

.examplesColumn:hover .cardLine{
    animation-play-state: paused;
}

.cardLine{
 
    height: var(--cardLineHeight);
    position: absolute;
    width: 100%;
    top: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: scrollAnimation var(--exampleCardAnimationDuration) linear infinite;
    transition: all 0.3s;
}

.displayWindow{
  width: var(--examplesWindowWidth);
  display: flex;

  background-color: black;

  transition: all 1.3s;
}

.displayWindow.cardSelected{
  width: 100%;
}
