@font-face {
    font-family: "Headliner No. 45";
    src: url("/style/fonts/HeadlinerNo45-59y8.ttf");
}

.exampleCard:hover{
    cursor: pointer;
    z-index: 1;
}

.exampleCard {
    width: 100%;
    height: 100%;

    margin: 0 3px;

    font-family: "Headliner No. 45";

    background-size: 100% 100%;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    container-type: inline-size;

    transition: all 0.6s;
    background-color: red;

    position: relative;
}

.exampleCard::before{
    content: "";
    position: absolute;

    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    transition: all 0.3s;
}

.exampleCard:hover::before{

    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

.exampleCard::after{
    content: var(--card-text);
    font-size: var(--card-text-size);
    color: rgb(200, 200, 200);
    
    transition: color 0.125s;
    z-index: 1;
}

.exampleCard:hover::after{
    color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
}


#card1 { 
    background-image: url("/resources/Attack\ on\ Titan.png"); 
    --card-text: "Attack on Titan";
    --card-text-size: 20cqw;
}
    
#card2 {
    background-image: url("/resources/Death\ Note.png"); 
    --card-text: "Death Note";
    --card-text-size: 34cqw;
}

#card3 {
    background-image: url("/resources/One\ Punch\ Man.png");
    --card-text: "One Punch Man";
    --card-text-size: 30cqw;
}

#card4 {
    background-image: url("/resources/My\ Hero\ Academia.png");
    --card-text: "My Hero Academia";
    --card-text-size: 35cqw;
}

#card5 {
    background-image: url("/resources/Demon\ Slayer\ Kimetsu\ no\ Yaiba.png");
    --card-text: "Demon Slayer: Kimetsu no Yaiba";
    --card-text-size: 24cqw;
}

#card6 {
    background-image: url("/resources/Hunter\ x\ Hunter.png");
    --card-text: "Hunter x Hunter";
    --card-text-size: 20cqw;
}

#card7 {
    background-image: url("/resources/Jujutsu\ Kaisen.png");
    --card-text: "Jujutsu Kaisen";
    --card-text-size: 20cqw;
}

#card8 {
    background-image: url("/resources/Tokyo\ Ghoul.png");
    --card-text: "Tokyo Ghoul";
    --card-text-size: 25cqw;
}




