.searchColumn{
    margin:0 0 0 2rem;
    width: var(--searchWindowWidth);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.searchBar{
    padding: 2px 15px 2px 15px;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    
    border: 1.5px solid rgba(255, 255, 255, 0.65);
    border-radius: 8px;

    background-color: rgba(var(--bg-color), 0.65);
    color: rgb(255, 255, 255);
    transition: all 0.4s ease-in-out;
}

.searchBar:hover{
    border: 1.5px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.15);   
}

.queryTypeSelectorSection{
    
    height: 100%;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.15);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    transition: all 0.2s ease-in-out;
}

.queryTypeSelectorSection:hover{
    background-color: rgba(255, 255, 255, 0.3);
    
}

.queryTypeSelector.active{
    filter: invert(1);
}

.queryTypeSelector{
    transition: all 0.5s ease-in-out;
}

.queryTypeSelector:hover{
    cursor: pointer;
}

.cardsWindow{
    height: 100%;
}