body {
    margin: 0;
}


input[type="file"] {
    display: none;
}

label.searchBar{
    padding: 2px 15px 2px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    
    border: 3px solid rgb(40, 40, 40);
    border-style: dashed;
    border-radius: 8px;
    box-shadow: inset 0 0 10px 5px rgba(83, 83, 83, 0.3);

    background-color: rgba(245, 245, 245, 0.4);
    color: rgb(23, 23, 23);
    transition: all 0.3s;
}

label.searchBar:hover{
    box-shadow: inset 0 0 10px 5px rgba(83, 83, 83, 0.5),
                      0 0 10px 5px rgba(255, 255, 255, 0.7);   
}